:root {
	--color-back: #000000;
	--color-white: #ffffff;
	--color-grey: #333333;
	--color-dark-blue: #1d71f2;
	--color-light-blue: #1c9cf6;
	--gradient: linear-gradient(90deg, rgba(25,87,184,1) 26%, rgba(28,156,246,1) 82%);;
}
