:root {
	--color-back: #000000;
	--color-white: #ffffff;
	--color-grey: #333333;
	--color-dark-blue: #1d71f2;
	--color-light-blue: #1c9cf6;
	--gradient: linear-gradient(360deg, rgb(25, 133, 210) 22%, rgb(30, 92, 185) 88%);
}

