:root {
	--color-back: #000000;
	--color-white: #ffffff;
	--color-grey: #333333;
	--color-dark-purple: #643173;
	--color-light-purple: #7d5ba6;
	--color-olive-green: #86a59c;
	--color-green: #89ce94;
}
